<p style='text-align: center;'>
  本システムのユーザーアカウントをお持ちで無い方は <a href='account/register/'><strong>登録</strong></a> をお願いします(所要時間 約1分)。
</p>
<p style='text-align: center;'>
  お問い合わせの送信、対応状況の確認、お問い合わせ履歴の記録・参照 ができるようになります。
</p>
