<script>
  $("#query_form").before("<div class='support-guidance'>お問い合わせいただいた案件の一覧です。<br>各案件の詳細を見るには題名をクリックしてください。過去案件を表示するには、 <strong>ステータス</strong> で <strong>すべて</strong> を選択してから <strong>適用</strong> をクリックしてください。</div>");
</script>
