<script>
  $("#issue-form").before("<p>お問い合わせの内容を入力して「作成」ボタンをクリックしてください。サポート担当者に送信されます。<br>ご対応状況は「チケット」画面で確認できるほか、何か進展があるたびにメールが届きます。</p><p><strong>複数のご質問は一つのチケットに詰め込まずそれぞれ別のチケットを作成してください。</strong> お問い合わせとご回答の対応関係が分かりやすくなることに加え、お調べするのに時間がかからないものは先にご回答できますのでお待たせする時間が短くなります。</p>");
</script>
